<body>
  <div class="m-5">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A eum modi magnam
      molestiae laboriosam eveniet soluta. Dolor officiis mollitia natus, a
      corrupti esse at perferendis porro excepturi ipsa! Placeat architecto
      odit, saepe praesentium tempora iure veniam eum quas odio ut modi! Magni
      sint dolorum similique vero fugit impedit omnis earum quos natus,
      reprehenderit totam rerum ipsam sunt. Voluptas natus quia soluta deleniti
      iusto nisi aut ex? Officiis modi nulla ratione ipsum consectetur?
      Blanditiis mollitia nobis rem libero, soluta sed corrupti dolore atque
      delectus ratione necessitatibus a. Quidem aliquid dolorum id debitis.
      Neque at minus inventore eveniet veniam. Possimus sit ducimus tempora odit
      minima maiores rem eius consectetur architecto, ad, repellendus amet id.
      Sit consequuntur assumenda doloremque eligendi officia quaerat nisi
      pariatur impedit possimus exercitationem perspiciatis hic tempora
      dignissimos culpa facere expedita quasi maiores quibusdam, quisquam magnam
      eum sunt corrupti. Commodi debitis eaque quis quisquam blanditiis.
    </p>
  <button (click)="open()" class="btn btn btn-secondary" type="button">Comensar</button>
<!-- <a [routerLink] = "['/homePage']"> Comenzar</a> -->
  </div>
</body>
