

<form [formGroup]="myReactiveForm" class="m-3">
  <div class="form-group">
    <label for="trabajo">Qué quieres haser?</label>
    <div *ngFor="let trabajo of trabajos; let i = index">
      <label>
        <input type="checkbox" [value]="trabajo.precio" [checked]="trabajo.isChecked" (click)="doCheckboxCheck(i)">
        {{trabajo.nombre}}
        <div class="panel" *ngIf="i===0 && trabajo.isChecked">
          <app-panel [precio]='precio' (inputValues)='inputsResult($event)' ></app-panel>
        </div>
      </label>
    </div>
  </div>

  <p id="preu">Preu: {{result()}} €</p>
</form>
<button (click)="volver()" class="ms-3">Volver</button>





