/* body{
  position: relative;
}

.container{
  height: auto;
  width: 500px;
  border : 2px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.container label{
  margin: 5px;

}
.container input{
  margin: 5px;
  width:50px;
}

.modal{
  position: absolute;
  bottom: 0;
} */
